<div id="header-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <img id="logo" src="{{ asset('img/white-logo.png') }}">
            </div>
            <div id="address" class="col-3">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <i class="fa-solid fa-earth-europe"></i>
                    </div>
                    <div class="col-8">
                        Calle concepcion 49
                        Aspe (Alicante) 03680
                    </div>
                </div>
            </div>
            <div id="phone" class="col-3">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="col-8">
                        633329626
                    </div>
                </div>
            </div>
            <div id="email" class="col-3">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="col-8">
                        jose.yeste@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="header-menu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-primary" type="button" id="dropdownMenuButton" >
                        Inicio
                    </button>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reformas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-primary" type="button">
                        Servicios
                    </button>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-primary" type="button">
                        Empresa
                    </button>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-primary" type="button">
                        Contacto
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>